---
layout: default
tagline: [waitting...]
---
{% include JB/setup %}
<div class="page-header">
  <h1>文章列表 <small>{{ page.tagline }}</small></h1>
</div>

<div class="row">
  <div class="span14">
    <ul class="posts">
      {% for post in site.posts %}
      <li><span>{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<script language="javascript" type="text/javascript" src="http://js.users.51.la/17297048.js"></script>
<noscript><a href="http://www.51.la/?17297048" target="_blank"><img alt="&pound;x6211&#x8981&#x5566&#x514D&#x8D39&#x7EDF&#x8BA1;" src="http://img.users.51.la/17297048.asp" style="border:none" /></a></noscript>
